{% extends "main/base.html" %}
{% block title %} Random diction {% endblock %}
{% block footer %}

{% endblock %}
{% block content %}
<div id="border">
<div id="word" >
    {% load static %}
    <div id="audio">
        <audio id="controls">
        <source src="{% static 'main/audio/' %}audio.mp3" type="audio/mpeg"/>
        <embed height="100" width="100" src="/static/main/audio/audio.mp3"/>
        </audio>
        <div class="controls">
            <button id="playaudio" v-on:click="playit"> Play </button>
        </div>
    </div>
    <div id="explainzone">
        <label>Explanation:</label>
        <p>{{word.definition}}</p>
    </div>
    <div id="inputzone">
        <label>Answer:</label>
        <input id="answertext" type="text" v-model="answer" size="50" >
    </div>
    <div id="buttonline">
        <button class="button-style" v-on:click="check" type="button" >Check</button>
        <button class="button-style" v-on:click="clear" type="button" >Clear</button>

        <button class="button-style" v-on:click="hint" type="button" >Hint</button>

        <form id="nextform" action="{% url 'randword' %}" ><input class="button-style" type="submit" value="Next"></form>
        <!-- <button id='addtoerror' v-on:click="addtoerror" type="button">Add to Error List</button> -->
    </div>

    <div id="msgzone" ref="msgzone" v-html="message">
        {% verbatim %} {{ message }} {% endverbatim %}
    </div>
</div>
<div id="statinfo">
    <H4>Stat Information</H4>
    <p>Error Number:<span>{{errornum}}</span></p>
    <p>Known Number:<span>{{knownnum}}</span></p>
    <p>Correct Rate:<span>{{correctrate}}</span></p>
</div>
</div>
<script >
// var word = {{word |safe}}
// word = word.pop()
// var errorlist = {{errorlist|safe}}
// var knownlist = {{knownlist|safe}}
var msgzone = document.getElementById('msgzone')
msgzone.style.visibility = 'hidden'
var app1 = new Vue({
    el: '#word',
    data:{
        message:'',
        answer:'',
    },
    methods:{
        check:function(){
            if(this.answer.replace(/^\s+|\s+$/g, '')=='{{word.spell}}'){
                this.$refs.msgzone.style.visibility = 'visible';
                this.message='<p class="msg" id="right-ans">You are right</p>';
            }else{
                this.$refs.msgzone.style.visibility = 'visible';
                this.message='<p class="msg" id="error-ans">You are wrong</p>';
            }
        },
        hint:function(){
            this.$refs.msgzone.style.visibility = 'visible';
            this.message='<p class="msg" id="hint">{{word.spell}}</p>';
            },
        clear:function(){
            this.$refs.msgzone.style.visibility = 'hidden';
            this.answer='';
            this.message='';
        },
        playit:function(){
            var audio = document.getElementById("controls");
            audio.play();

        },
    }
})
</script>
{% endblock %}