/*style for base.html*/




/*style for random.html*/
div {
    margin-left: auto;
    margin-right: auto;
}
#border {
    width:400px;
    padding: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid green;
    box-shadow: 10px 10px 5px #888888;
}
#word  {
    width: 400px;
}
#audio{
    margin-bottom: 50px;
}

audio {
    margin-bottom: 10px;
}
#playaudio {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 400px;
    height: 50px;
    line-height: 44px;
    border: 0px;
    border-radius: 12px; 
    color:white;
    background-color: #51AC46;
    transition-duration: 0.4s;
    -webkit-transition-duration:0.4s; 

}
#playaudio:hover{
    background-color: green;
    color:white;
    border: 0px;
}

#explainzone{
    margin-bottom: 25px;
}
#inputzone{
    margin-bottom: 25px;
}


#answertext {
    margin-top: 10px;
    margin-bottom: 20px; 
    height:50px;
    width:380px;
    font-size:30px;
    color:green;
}

#buttonline{
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.button-style {
    margin-left: 5px;
    background-color: green;
    border: 2px solid green;
    /*border-color:green;*/
    color:white;
    display: inline-block;
    font-size: 18px; 
    border-radius: 5px;
    width: 20%;
    height: 40px;
    transition-duration: 0.4s;
    -webkit-transition-duration:0.4s; 
}
.button-style:hover {
    background-color: white;
    color:green;
}

#nextform {
    display: inline;
    width: 22%;
}

#msgzone{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 120px;*/
    /*background-color: grey;*/
}

.msg{
    display: block;
    text-align: center;
    /*width: 100px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*background-color:white;*/
}
#right-ans{
    color:green;
}
#error-ans{
    color:red;
}
#hint{
    color:#bc3cac;
}

/*
#nextbutton {
    display: inline;
    font-size: 24px; 
    margin: 5px; 
    border-radius: 3px;
}*/