/*style for base.html*/




/*style for random.html detail.html randomerror.html*/
/*sitebar*/
#statinfo{
    margin-top: 50px;
    width: 400px;
    border: 3px dotted green;

}
div#statinfo H4{
    text-align: center;
    margin-bottom: 0px;
}
div#statinfo p {
    display: inline-block;
    margin-left: 15px;
    /*border: 2px solid green;*/
    /*background-color: green;*/
}
/*content*/
div {
    margin-left: auto;
    margin-right: auto;
}
#border {
    width:400px;
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid green;
    box-shadow: 0px 2px 6px #888888;
}
#word  {
    width: 400px;
}
#audio{
    margin-bottom: 50px;
}

audio {
    margin-bottom: 10px;
}
#playaudio {
    font-size: 40px;
    text-align: center;
    display: block;
    width: 400px;
    height: 50px;
    line-height: 50px;
    border: 0px;
    border-radius: 12px; 
    color:white;
    background-color: #51AC46;
    transition-duration: 0.4s;
    -webkit-transition-duration:0.4s; 

}
#playaudio:hover{
    background-color: green;
    color:white;
    border: 0px;
}

#explainzone{
    margin-bottom: 25px;
}
#inputzone{
    margin-bottom: 25px;
}


#answertext {
    margin-top: 10px;
    margin-bottom: 0px; 
    height:50px;
    width:380px;
    font-size:30px;
    color:green;
}

#buttonline{
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.button-style {
    margin-left: 5px;
    background-color: green;
    border: 2px solid green;
    /*border-color:green;*/
    color:white;
    display: inline-block;
    font-size: 18px; 
    border-radius: 5px;
    width: 20%;
    height: 40px;
    transition-duration: 0.4s;
    -webkit-transition-duration:0.4s; 
}
.button-style:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#nextform {
    display: inline;
}

#msgzone{
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 120px;*/
    /*background-color: grey;*/
    margin-top: 25px;
    border: 2px solid green;
    height:50px;
    /*visibility: hidden;*/
}

.msg{
    display: block;
    text-align: center;
    /*width: 100px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*background-color:white;*/
}
#right-ans{
    color:green;
}
#error-ans{
    color:red;
}
#hint{
    color:#bc3cac;
}

/*
#nextbutton {
    display: inline;
    font-size: 24px; 
    margin: 5px; 
    border-radius: 3px;
}*/

/* CSS for index.html */
#indexnavi {
    width: 400px;
}
a:link { text-decoration: none;}
a:active { text-decoration:none;}
a:hover { text-decoration:none;}
a:visited { text-decoration: none;} 
.indexbutton {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin: 10px;
    background-color:#e9686b;
    border: 2px solid #e9686b;
    box-shadow: 0px 2px 6px #888888;
    border-radius: 12px;
    font-family: '微软雅黑';
}
.indexbutton:hover {
    background-color: #900b09;
    border:2px solid #900b09 ; 
}
#orderlist {

}

#randlist {

}

#errorlist{

}

#stat {

}